@model IEnumerable<MyPassionProject.Models.CafeDto>

@{
    ViewBag.Title = "Create";
}

<h2>Create Cafe</h2>
<form action="/Cafe/Create" method="POST">
    <div>
        <label>Name:</label> <input type="text" name="CafeName" />
    </div>
    <div>
        <label>District:</label>
        <select name="DistrictId">
            @foreach (var district in Model)
            {
                <option value="@district.DistrictId">@district.DistrictName</option>
            }
        </select>
    </div>
    <div>
        <label>Address:</label> <input type="text" name="CafeAddress" />
    </div>
    <div>
        <label>Phone:</label> <input type="text" name="CafePhone" />
    </div>
    <div>
        <label>Description:</label> <input type="text" name="CafeDescription" />
    </div>
    <div>
        <label>Website:</label> <input type="text" name="CafeWebsite" />
    </div>
    <div>
        <label>Image:</label> <input type="file" name="CafeImage" />
    </div>
    <div>
        <input type="submit" value="Add Cafe"/>
    </div>

</form>

