@model MyPassionProject.Models.ViewModels.DetailsAmenity
@{
    ViewBag.Title = "Details";
}
<link href="~/Content/amenity-details.css" rel="stylesheet" type="text/css" />

<a class="option-back" href="/Amenity/List">Go back to list</a>
<a class="option-update" href="/Amenity/Edit/@Model.SelectedAmenity.AmenityId">Update</a>
<a class="option-delete" href="/Amenity/DeleteConfirm/@Model.SelectedAmenity.AmenityId">Delete</a>
<h2 class="district-name">@Model.SelectedAmenity.AmenityName</h2>

<div class="related-cafes">
    <h3>Available In:</h3>
    <div class="cafe-list">
        @foreach (var cafe in Model.RelevantCafes)
        {
            <a href="/Cafe/Details/@cafe.CafeId">@cafe.CafeName</a><br />
        }
    </div>
</div>
