@model MyPassionProject.Models.ViewModels.DetailsAmenity
@{
    ViewBag.Title = "Details";
}

<a href="/Amenity/List">Go back to list</a>
<br />
<a href="/Amenity/Edit/@Model.SelectedAmenity.AmenityId">Update</a>
<br />
<a style="color:#ab2020;" href="/Amenity/DeleteConfirm/@Model.SelectedAmenity.AmenityId">Delete</a>
<h2>@Model.SelectedAmenity.AmenityName</h2>



<div>
    <h3>Available In:</h3>
    @foreach (var cafe in Model.RelevantCafes)
    {
        <a href="/Cafe/Details/@cafe.CafeId">@cafe.CafeName</a><br />

    }
</div>
