@model IEnumerable<MyPassionProject.Models.AmenityDto>
@{
    ViewBag.Title = "List";
}
<link href="~/Content/amenity-list.css" rel="stylesheet" type="text/css" />

<h2 class="main-heading">Browse Amenities</h2>
<a href="/Amenity/New" class="new-amenity-link">New Amenity</a>

@foreach (var amenity in Model)
{
    <div class="amenity-item">
        <h2 class="amenity-name"><a href="/Amenity/Details/@amenity.AmenityId">@amenity.AmenityName</a></h2>
    </div>
}

