
@{
    ViewBag.Title = "New";
}

<h2>Create Amenity</h2>
<form action="/Amenity/Create" method="POST">
    <div>
        <label>Amenity:</label> <input type="text" name="AmenityName" />
        <input type="submit" value="Create Amenity" />

    </div>
</form>
