@model MyPassionProject.Models.ViewModels.DetailsDistrict
@{
    ViewBag.Title = "Details";
}
<link href="~/Content/district-details.css" rel="stylesheet" type="text/css" />

<a href="/District/List" class="option-back">Go back to list</a>
<a href="/District/Edit/@Model.SelectedDistrict.DistrictId" class="option-update">Update</a>
<a href="/District/DeleteConfirm/@Model.SelectedDistrict.DistrictId" class="option-delete color-link">Delete</a>
<h2 class="district-name">@Model.SelectedDistrict.DistrictName</h2>

<div class="related-cafes">
    <h3>Cafes in this District</h3>
    <ul class="cafe-list">
        @foreach (var cafe in Model.RelatedCafes)
        {
            <li><a href="/Cafe/Details/@cafe.CafeId">@cafe.CafeName</a></li>
        }
    </ul>
</div>
