
@{
    ViewBag.Title = "Create";
}

<h2>Create District</h2>
<form action="/District/Create" method="POST">
    <div>
        <label>Name:</label> <input type="text" name="DistrictName" />
    </div>
    <div>
        <input type="submit" value="Create District" />

    </div>
</form>


